**/Data/
Assignment1/Data
./Data
./Data/*
Data/*
*/Data/
*/Data
*/data.zip


*/.idea/
*/.idea
./.idea
./.idea/

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~
.DS_Store
